.mdl-layout__content section {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

.mdl-layout__content section .mdl-card__title {
    width: 100%;
}

.mdl-layout__content section .mdl-card__supporting-text {
    margin: 0 auto;
}

.mdl-layout__content section .mdl-card__supporting-text button {
    width: 100%;
}
