body {
    margin: 0;
    padding: 0;
}

header, nav, footer {
    display: none;
}

#message-toast {
    display: none;
}

.mdl-layout__drawer, .scrim {
    display: none;
}

.mdl-layout__drawer-button {
    display: none;
}
