QPlainTextEdit, QTextEdit {
    background-color: #292b2e;
    color: #b2b2b2;
    selection-background-color: #444155;
    selection-color: #b2b2b2; }
.error { color: #f2241f; }
.in-prompt { color: #86dc2f; text-decoration: underline; }
.in-prompt-number { font-weight: bold; }
.out-prompt { color: #bc6ec5; text-decoration: underline; }
.out-prompt-number { font-weight: bold; }
.inverted { background-color: #b2b2b2; color: #292b2e; }
