/* APPLICATION CSS */

/* TABLES */
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #EDEDED;
}

#alert-place {
    position: absolute;
    left: 50%; top: 100px;
    height: 100px; margin-top: -50px;
    width: 600px; margin-left: -300px;
    z-index: -1000;
}

.tab-content {
/*
    min-height: 250px;
*/
    overflow: visible;
}

/*
.tab-content .subnav, .modal-body .subnav {
    margin-bottom: 5px;
}
*/

input[type="search"] {
   height: 12px;
}

/*
.tab-pane .btn-toolbar, .modal-body .btn-toolbar {
    margin-top: 0px;
    margin-bottom: 0px;
}
*/
/*
.tab-pane .subtabs {
    margin-bottom: 3px;
}
*/
.tab-pane legend {
    padding-top: 5px;
}

body.login {
    background: #eee;
}
body.login container {
    min-height: 300px;
}

body.login #login {
    background: white;
    border: 1px solid #ccc;
    width: 28em;
    padding: 40px 20px 20px;
    margin: auto;
}

.max-height-small {
    max-height: 200px;
    overflow-y: auto;
}

.max-height-medium {
    max-height: 400px;
    overflow-y: auto;
}

.max-height-large {
    max-height: 600px;
    overflow-y: auto;
}

hr.soften {
    margin: 1px 0;
}

.subnav fieldset {
    padding: 4px;
}

.color-primary {
    color: #0074CC;
}

.color-info {
    color: #49AFCD;
}

.color-success {
    color: #5BB75B;
}

.color-warning {
    color: #FAA732;
}

.color-danger {
    color: #DA4F49;
}

.color-inverse {
    color: #414141;
}

.color-older {
    color: #7F7F7F;
}
.align-center, table th.align-center, table td.align-center { text-align: center;}
.align-right, table th.align-right, table td.align-right { text-align: right; }
.align-left, table th.align-left, table td.align-left { text-align: left; }
table th.align-center, table td.align-center, table th.align-right, 
table td.align-right, table th.align-left, table td.align-left { vertical-align: middle; }

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
    
    #summa {
        padding-left: 40px;
    }
}

a.normalwrap {
    white-space: normal;
}

input.noborder {
    border: 0;
}

.dropdown-menu li.active > a {
    color: #FFFFFF;
}

.dropdown-menu li.active > a:hover {
    color: #FFF;
}

.mono {
    font-family: 'courier new', courier;
}

body.login {
    margin-top: 100px;
}

/* As input-mini */
input.input-micro {
    width: 60px;
}

th.input-micro, td.input-micro {
    width: 1em;
    min-width: 24px;
}

select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input {
    margin-bottom: 0;
}

/*
input, textarea, .uneditable-input {
    width: 98%;
}
*/

.input-append, .input-prepend {
    margin-bottom: 0;
}

div.dataTables_length label {
/*
    width: 460px;
*/
    float: left;
    text-align: left;
}

div.dataTables_length select {
    width: 75px;
}

div.dataTables_processing {
    text-align: center;
}

div.dataTables_filter label {
    float: right;
/*
    width: 460px;
*/
}

div.dataTables_filter label input {
    margin: 0;
}

div.dataTables_info {
    padding-top: 8px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

table {
    margin-top: 5px !important;
    margin-bottom: 5px !important; 
    clear: both;
}

table.dataTable th:active {
    outline: none;
}

table .header {
    cursor: pointer;
}

.table thead th {
    vertical-align: middle;
    white-space: nowrap;
}

table .header:after {
    border-color: #000000 transparent;
    border-style: solid;
    border-width: 0 4px 4px;
    content: "";
    float: right;
    margin-top: 7px;
    visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    
}
table .header:hover:after {
    visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
    opacity: 0.6;
    visibility: visible;
}
table .headerSortUp:after {
    border-color: #000000 transparent -moz-use-text-color;
    border-style: solid solid none;
    border-width: 4px 4px medium;
    box-shadow: none;
    opacity: 0.6;
    visibility: visible;
}

.collection-filters {
    margin-top: 5px;
}
.collection-filters form.form-inline {
    margin-top: 5px;
}
.collection-filters form.form-inline:first-child {
    margin-top: 0px;
}
.collection-filters .panel-body, .collection-filters .panel-footer {
    padding: 5px;
    background-color: #f5f5f5;
}

div.filechooser {position:relative;}
div.filechooser input.fileinput {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 34px;
    filter: alpha(opacity=0);
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    opacity: 0;
    background-color: transparent;
    color: transparent;
}
div.filechooser .filelabel {}

/* Для col-md-6 col-lg-4 */
.btn-select-label {overflow-x: hidden; max-width:87%}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .btn-select-label {max-width:83%} }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .btn-select-label {max-width:79%}  }

.subnav {margin-top: 5px;}

#main-tab, #main-tab-content {
    margin-top: 5px;
    margin-bottom: 5px;
} 
#main-tab-content .page-header {
    margin-top: 20px;
} 

#quickapi-docs code {
    display: block;
    white-space: pre-wrap;
}

/*
 * Sorting
 */
th.sorted {
    cursor: pointer;
    background: url('./img/sort_both.png') no-repeat center right;
}

th.sorted-asc {
    background: url('./img/sort_asc.png') no-repeat center right;
}

th.sorted-desc {
    background: url('./img/sort_desc.png') no-repeat center right;
}

th.sorted-n0 {
    background-color: #FFE6E6;
}

th.sorted-n1 {
    background-color: #FFF9E6;
}

th.sorted-n2 {
    background-color: #F3FFE6;
}

th.sorted-n3 {
    background-color: #E6FFED;
}

th.sorted-n4 {
    background-color: #E6FFFF;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

div .pagination {
    margin-top: 0;
    margin-bottom: 0;
}


.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
