article .meta {
  color: $gray;
}

.blog {
  max-width: 600px;
  margin: auto;
}
article.blog-detail {

  .blog-body {
    font-size: 16px;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    text-align: justify;
  }
}
.feed-icon {
  padding-top: 12px;
}