/*
 * maildrake/static/style.css
 * Part of Mail Drake, an email server for development and testing.
 *
 * Copyright © 2017 Ben Finney <ben+python@benfinney.id.au>
 *
 * This is free software, and you are welcome to redistribute it under
 * certain conditions; see the end of this file for copyright
 * information, grant of license, and disclaimer of warranty.
 */
/*
 * Style sheet for Mail Drake application.
 */

body {
    font-family: sans-serif;
    background: #eee;
}
a {
    color: #377ba8;
}
h1, h2 {
    color: #377ba8;
    font-family: "Georgia", serif;
    margin: 0;
}
h1 {
    border-bottom: 2px solid #eee;
}
h2 {
    font-size: 1.2em;
}

#logo {
    float: left;
}
#logo p {
    font-family: "Cambria", serif;
    font-size: 1.5em;
    font-weight: bold;
}
#logo img {
    width: 120px;
    height: auto;
    border: none;
}

#page {
    margin: 2em auto;
    width: 75%;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white;
}
#metanav {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #fafafa;
}
.messages {
    list-style: none;
    margin: 0;
    padding: 0;
}
.messages li {
    margin: 0.8em 1.2em;
}
.messages li h2 {
    margin-left: -1em;
}
.add-message {
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
}
.add-message dl {
    font-weight: bold;
}
.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
}
.error {
    background: #f0d6d6;
    padding: 0.5em;
}


/*
 * Copyright © 2017 Ben Finney <ben+python@benfinney.id.au>
 *
 * This is free software: you may copy, modify, and/or distribute this work
 * under the terms of the GNU Affero General Public License as published by the
 * Free Software Foundation; version 3 of that license or any later version.
 * No warranty expressed or implied. See the file ‘LICENSE.AGPL-3’ for details.
 */


/*
 * Local variables:
 * coding: utf-8
 * mode: python
 * End:
 * vim: fileencoding=utf-8 filetype=python :
 */
