body,html
{
    margin:0;
    width:100%;
    height:100%;
}

.wrapper
{
    width:100%;
    height:100%;
    background:url(../img/blurw.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.mask
{
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.35);
    display: none;
}
.logo
{
    width:323px;
    height:323px;
    margin-left:auto;
    margin-right:auto;
    padding-top:10vh;
    background:transparent url(../img/Selfie.JPG);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:bottom;
    display:none;
    
}
.heading
{
    color:#fff;
    margin:3% auto auto auto;
    font-weight: 700;
    width:25%;
    font-size:30px;
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑",SimSun, STXihei, "华文细黑", sans-serif;
    margin-bottom: 0;
    text-align: center;
    display:none;

}
.heading hr
{

}
.loading
{
    display:none;
}