/* line 1, ../pretixeu/pretixeu/pretixeu/static/pretixeu/scss/privacy.scss */
.privacy-row > div {
  margin: 20px 0; }

/* line 4, ../pretixeu/pretixeu/pretixeu/static/pretixeu/scss/privacy.scss */
#cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(30, 40, 40, 0.9);
  color: white;
  z-index: 10000; }
  /* line 13, ../pretixeu/pretixeu/pretixeu/static/pretixeu/scss/privacy.scss */
  #cookie p {
    margin: 0;
    padding: 20px; }
  /* line 18, ../pretixeu/pretixeu/pretixeu/static/pretixeu/scss/privacy.scss */
  #cookie #cookie_close {
    padding: 20px;
    float: right;
    color: white; }
  /* line 24, ../pretixeu/pretixeu/pretixeu/static/pretixeu/scss/privacy.scss */
  #cookie p a {
    color: white;
    text-decoration: underline; }

@media (max-width: 767px) {
  /* line 30, ../pretixeu/pretixeu/pretixeu/static/pretixeu/scss/privacy.scss */
  #cookie p {
    padding: 15px; }
  /* line 33, ../pretixeu/pretixeu/pretixeu/static/pretixeu/scss/privacy.scss */
  #cookie #cookie_close {
    padding: 15px; } }
