/* css fragment used by cloud_sptheme.ext.auto_redirect */

.c-redirect-warning
{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.5);
}

    /* hack to override docutils */
    div.admonition.c-redirect-warning
    {
        background-position: 1em 50%;
        padding: 2em 4em 1.5em;
        border-width: 1em 1px;
    }


    .c-redirect-warning.is-sticky
    {
        position: fixed;
        top: 1em;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 4px 8px -1px rgba(0,0,0,0.5);
        z-index: 1000;
    }

    .c-redirect-warning.is-clickable
    {
        cursor: pointer;
    }

    html.small-screen .c-redirect-warning
    {
        left: 1em;
        right: 1em;
        transform: none;
    }

div.body p.c-redirect-warning__header
{
    display: block;
    font-weight: bold;
    text-align: center;
}

.c-redirect-warning__link
{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5em;
}

.c-redirect-warning__link:before
{
    content: "↪ ";
}

div.body p.c-redirect-warning__auto,
div.body p.c-redirect-warning__footer
{
    text-align: center;
}

.c-redirect-muted
{
    opacity: 0.25;
}