.stage-name {
    text-align: center;
    text-shadow: 0px 0px 8px #ffffff;
}

.board {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    min-height: 75px;
}

.card-panel {
    min-height: 40px;
    position: relative;
}

.card_header {
    line-height: inherit;
    margin: 0 6px;
    text-align: center;
}

.inventory-item {
    margin-bottom: 10px;
    min-height: 100px;
    padding: 5px 15px;
    width: auto;
}

.card_name {
    font-size: 16px;
    font-weight: bold;
}

.card_notes {
    margin: 0;
    word-wrap: break-word;
}

.card_button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.card_button:hover {
    background: #366fcc;
    background: rgba(0,0,0,0.2);
}

.card_right_button {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.card_left_button {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.card_up_button {
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card_down_button {
    bottom: 0;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

.card_extra_buttons {
    overflow: hidden;
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: width .5s;
    transition: width .5s;
    white-space: nowrap;
    width: 14px;
}

.card_extra_buttons .card_extra_buttons_inner {
    float: right;
}

.card_extra_buttons .card_extra_buttons_inner .card_button {
    width: 20px;
}


.inventory-item:hover .card_extra_buttons {
    -webkit-transition: width .5s;
    transition: width .5s;
    width: 40px;
}

.card_extra_buttons .card_button .material-icons {
    font-size: 16px;
}

.stage:first-child .mdl-card__supporting-text .card_left_button,
.stage:first-child .mdl-card__supporting-text .card_up_button,
.stage:nth-last-child(2) .mdl-card__supporting-text .card_right_button,
.stage:nth-last-child(2) .mdl-card__supporting-text .card_down_button {
    display: none;
}

.progress {
    bottom: 0;
    display: none;
    height: 4px;
    left: 0;
    margin: 0;
    position: absolute;
}

dialog {
    min-width: 50%;
}

dialog + .backdrop {
    background: grey;
    background: rgba(0,0,0,.5);
}

.stage:first-child hr {
    display: none;
}

.fixed-action-btn {
    bottom: 45px;
    position: fixed;
    right: 45px;
    z-index: 99;
}

.waiting-spinner {
    margin: auto;
}

.form-card {
    margin-top: 40px;
    margin-bottom:80px;
}

.mdl-list .mdl-list__item:last-child .bubble_down {
    display: none;
}

.mdl-list .mdl-list__item:last-child .bubble_up {
    margin-right: 1.2em;
}

.mdl-list .mdl-list__item:first-child .bubble_up {
    display: none;
}

.stage-archived--false .unarchive-stage {
    display: none;
}

.stage-archived--true, .stage-archived--true a {
    color: #999999;
}

.stage-archived--true .archive-stage {
    display: none;
}

.fab {
    text-decoration: none;
}

.permissions-header {
    display: flex;
    align-items: stretch;
    margin: 0 18px 0 30px;
}

.perm-icon {
    display: inline-block;
    margin: auto;
}

.permissions-header i:first-of-type {
    margin-left: 0;
}

.permissions-header i:last-of-type {
    margin-right: 0;
}

