@import url(https://fonts.googleapis.com/css?family=Dosis:200,400,600&subset=latin,latin-ext);
@import url(symbola-font.css);

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
    background-color: white;
}

body.claro {
    background-color: #222e5e;
    background-color: #581212;
    background-color: #ccc;
    font-family:  Verdana, Arial, Helvetica, sans-serif, symbola;
}

/* trick that shows visually that there's more to scroll to */
.scrollbox {
	overflow: auto;
    /*width: 200px;
	max-height: 200px;
	margin: 50px auto;*/

	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}


#borderContainer {
    width: 100%;
    height: 100%
}

.claro .dijitContentPane.topMenuPane {
    background-color: #111318;
    color: #dde;
    font-family: dosis, symbola, arial, sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    overflow: hidden;
}

.claro .dijitContentPane.topMenuPane > span:nth-child(2) {
    color: rgb(116, 216, 121);
}

.topMenuVersionInfo {
    font-size: 24px;
    position: absolute;
    right: 8px;
    top: 3px;
}

.topMenuVersionInfo span {
    font-family: dosis, symbola, arial, sans-serif;
    font-weight: bold;
}



.topMenuVersionInfo span:first-child {
    font-size: 12px;
    color: #aaa;
    position: absolute;
    right: 24px;
    top: 13px;
}

.topMenuVersionInfo span:nth-child(2) {
    position: absolute;
    right: 24px;
    top: 0px;
    color: #888;
    font-size: 12px;
}

.claro .dijitContentPane.leftMenuPane {
    background-color: #444;
    padding: 20px 16px;

}

.leftMenu {
    border-style: solid;
    border-color: #bcbcc7;
    border-width: 0px 0px 0px 0px;
    background-color: #444;
    font-family: dosis, symbola, serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-width: 1px 0px;
    border-top-color: #333;
    width: 120px;
    border-bottom-color: #555;
}



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    border-radius: 1px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: ;
    background-image: linear-gradient(to right, #edf5fd 0%, #e0eefc 100%);
}

.leftMenuPane::before {
    content:"";
    background-color: transparent;
    height: 1px;
    display: block;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 100%;
    box-shadow: 0px 0px 8px black, 0px 0px 8px black;
}

.leftMenuItem {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-top-color: #555;
    border-bottom-color: #333;
    border-left-color: transparent;
    border-right-color: transparent;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(212, 227, 255);
    cursor: default;
    font-size: 16px;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.leftMenuItem:hover {
    background-color: #223;
    color: white;
    border-width: 1px;
    border-left-color: #333;
    border-right-color: #555;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.leftMenuSection {
    padding: 6px 8px 6px 2px;
    border-style: solid;
    border-width: 1px 0px;
    border-top-color: #555;
    border-bottom-color: #333;
    color: rgb(63, 201, 255);
}

/* number field fix for Dojo Dijit <1.8 */
.dijitNumberTextBox input.dijitInputInner,
.dijitCurrencyTextBox input.dijitInputInner,
.dijitSpinner input.dijitInputInner {
    padding-right: 1px;
    text-align: right;
}

/* ckeditor style shrinking */

.cke_top a.cke_button {
    padding: 2px 4px;
}

.cke_top .cke_toolgroup,
.cke_top a.cke_combo_button {
    margin: 0 3px 2px 0px
}

.cke_top .cke_combo_text {
    line-height: 21px;
}


.cke_top .cke_combo_open {
    height: 17px;
}

.cke_top .cke_combo_arrow {
    margin: 9px 0px 0px 0px;
}

.cke_reset .cke_top {
    padding: 3px 3px 1px;
}

.claro .ckeditor-titlepane .dijitTitlePaneContentInner {
    padding: 0px 1px 0px 0px;
}

.usersGridHolder .field-walletAmount {
    text-align: right;
    width: 70px;
}

.usersGridHolder .field-created {
    width: 80px;
    text-align: center;
}

.usersGridHolder .field-lastLogin {
    width: 130px;
    text-align: center;
}

.usersGridHolder .field-role {
    width: 100px;
    text-align: left;
}

.wallets-transactions-grid-pane .field-totalAmount {
    text-align: right;
    width: 80px;
}

.wallets-transactions-grid-pane .field-totalRecipients {
    text-align: right;
    width: 60px;
}

.boxesGridHolder .field-lang {
    width: 50px;
    text-align: center;
}

.dgrid-action {
    cursor: pointer;
    min-width: 14px;
    background-image: linear-gradient(#ffffff 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
    display: inline-block;
    background-color: white;
    padding: 0px 3px;
    border-style: solid;
    border-width: 1px;
    color: #444;
    border-color: #d1dafc/*#acb8e4*/;
    margin: -3px 2px -6px;
    border-radius: 2px;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.dgrid-action:hover {
    color: #444;
    border-color: #acb8e4;
    background-color: #68bdf2;
}

.dgrid-action-disabled {
    background-image: none;
    color: #ddd;
    cursor: default;
    background-color: transparent;
}

.dgrid-action-disabled:hover {
    color: #ddd;
    border-color: #d1dafc;
    background-color: transparent;
}

.dgrid-cell.field-actions,
.dgrid-cell.field-four-actions {
    width: 110px;
    text-align: center;
    white-space: nowrap;
}

.dgrid-cell.field-three-actions {
    width: 85px;
    text-align: center;
    white-space: nowrap;
}

.dgrid-cell.field-two-actions {
    width: 60px;
    text-align: center;
    white-space: nowrap;
}

.dgrid-cell.field-one-action {
    width: 35px;
    text-align: center;
    white-space: nowrap;
}

.claro .dgrid-cell.field-idx {
    text-align: right;
    width: 50px;
}

.usersList .field-active {
    width: 60px;
    text-align: center;
}

.node-controls-grid .field-placement {
    width: 85px;
}

.node-controls-grid .field-enabled {
    width: 30px;
    text-align: center;
}

.permissions-group-grants .field-granted,
.permissions-user-grants .field-directly,
.permissions-user-grants .field-implicit {
    text-align: center;
    width: 30px;
}

.dgrid-cell.field-visible {
    width: 24px;
    text-align: center;
}

.dgrid-cell.field-placement {
    width: 7em;
}

.dgrid-cell.field-type {
    width: 30px;
    text-align: center;
}

td.dgrid-cell.field-type {
    line-height: 13px;
    font-size: 16px;
}

.reading-confirmations-list .field-active,
.reading-confirmations-list .field-required {
    width: 24px;
    text-align: center;
}

.claro .ui-state-default.user-role-Dystrybutor,
.claro .ui-state-default.user-role-dystrybutor,
.claro .ui-state-default.user-role-Przedstawiciel,
.claro .ui-state-default.user-role-przedstawiciel {
    background-color: rgba(255,255,0, 0.3);
}

.claro .ui-state-default.user-role-Administrator,
.claro .ui-state-default.user-role-administrator {
    background-color: rgba(255,0,0, 0.2);
}

.claro .ui-state-default.user-role-Producent,
.claro .ui-state-default.user-role-producent {
    background-color: rgba(128, 255, 128, 0.4);
}
