.gtlogo,
.gtsymbol {
    display: inline-block;
    border-width: 0em 0em;
    border-style:solid;
    height: 1em;
    width: 1em;
    border-radius: 1em;
    overflow: visible;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    background-image:
        -webkit-radial-gradient(0.5em 0.75em, circle contain, #00eb00 0%, #00eb00 33%, rgba(0,0,0,0) 33%),
        -webkit-radial-gradient(0.5em 0.25em, circle contain, #000078 0%, #000078 33%, rgba(0,0,0,0) 33%),
        -webkit-radial-gradient(0.5em 0.25em, circle contain, #00eb00 0%, #00eb00 99%, rgba(0,0,0,0)),
        -webkit-radial-gradient(0.5em 0.75em, circle contain, #000078 0%, #000078 99%, rgba(0,0,0,0)),
        -webkit-linear-gradient(left, #00eb00 0%, #00eb00 50%, #000078 50%, #000078 100%);
    background-image:
        radial-gradient(circle closest-side at 0.5em 0.75em, #00eb00 0%, #00eb00 33%, rgba(0,0,0,0) 33%),
        radial-gradient(circle closest-side at 0.5em 0.25em, #000078 0%, #000078 33%, rgba(0,0,0,0) 33%),
        radial-gradient(circle closest-side at 0.5em 0.25em, #00eb00 0%, #00eb00 99%, rgba(0,0,0,0)),
        radial-gradient(circle closest-side at 0.5em 0.75em, #000078 0%, #000078 99%, rgba(0,0,0,0)),
        linear-gradient(to right, #00eb00 0%, #00eb00 50%, #000078 50%, #000078 100%);
    position: relative;
    box-shadow: 0 0 0.1em rgba(0,0,0,0.5),
                0.06em 0.06em 0.06em rgba(255,255,255, 0.3) inset,
                -0.03em -0.03em 0.03em rgba(0,0,0, 0.3) inset;
}

.gtlogo::after {
    position: absolute;
    content: "gtCMS";
    font-family: Arial;
    font-weight: bold;
    font-size: 0.4em;
    color: white;
    bottom: -0.50em;
    left: -0.75em;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    text-shadow:
        -0.1em -0.1em 0.1em #555,
        0.1em -0.1em 0.1em #555,
        0.1em 0.1em 0.1em #555,
        -0.1em 0.1em 0.1em #555,
        -0.1em 0em 0.1em #555,
        0.1em 0em 0.1em #555,
        0em -0.1em 0.1em #555,
        0em 0.1em 0.1em #555;
}

.small.gtsymbol {
    background-image:
        -webkit-radial-gradient(0.5em 0.75em, circle contain, #00eb00 0%, #00eb00 40%, rgba(0,0,0,0) 40%),
        -webkit-radial-gradient(0.5em 0.25em, circle contain, #000078 0%, #000078 40%, rgba(0,0,0,0) 40%),
        -webkit-radial-gradient(0.5em 0.25em, circle contain, #00eb00 0%, #00eb00 99%, rgba(0,0,0,0)),
        -webkit-radial-gradient(0.5em 0.75em, circle contain, #000078 0%, #000078 99%, rgba(0,0,0,0)),
        -webkit-linear-gradient(left, #00eb00 0%, #00eb00 50%, #000078 50%, #000078 100%);
    background-image:
        radial-gradient(circle closest-side at 0.5em 0.75em, #00eb00 0%, #00eb00 40%, rgba(0,0,0,0) 40%),
        radial-gradient(circle closest-side at 0.5em 0.25em, #000078 0%, #000078 40%, rgba(0,0,0,0) 40%),
        radial-gradient(circle closest-side at 0.5em 0.25em, #00eb00 0%, #00eb00 99%, rgba(0,0,0,0)),
        radial-gradient(circle closest-side at 0.5em 0.75em, #000078 0%, #000078 99%, rgba(0,0,0,0)),
        linear-gradient(to right, #00eb00 0%, #00eb00 50%, #000078 50%, #000078 100%);
    box-shadow: 0 0 0.3em rgba(0,0,0,0.5),
                0.3em 0.3em 0.3em rgba(255, 255, 255, 0.4) inset,
                -0.2em -0.2em 0.2em rgba(0,0,0, 0.3) inset;
}
