.navbar
{
	background:rgba(0,0,0,0.75);
	position:absolute;
}

.first
{
	color:#fff;
	text-align: center;
	max-height:700px;
	min-height: 600px;
	background:transparent ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}

.first-title
{
/*	margin:150px auto 20;*/
	margin:300px auto 0 auto;
	
	width:100%;
	text-align: center;
	font-size: 50px;
	position:absolute;
	
	
}
.first-title small
{
	font-size:15px;
	color:#fff;

}
.first h3
{
	
	margin: 380px auto 0 auto;
    position: absolute;
    width: 100%;
}
.buttons button
{	
	
	margin:500px auto;
	border:1px #fff solid;
	
	
	
}
.second
{
	background-color:#fff;
}
.second h2
{
	width:inherit;
	text-align: center;
	color:#28a3d0;

}
.second .infocard-group
{
	list-style: none;
}
.second .infocard-group ul
{
	padding:0;
}
.infocard
{
	list-style: none;
	min-height: 200px;
    padding: 30px;
   
	color:#28a3d0;
}
.infocard i
{
	float:left;
	
}
.infocard p
{
	margin-top: 15px;
	color:#333;
	
}

.infocard .card-text
{
	margin-left:50px;
	
	width:80%;
}

.third
{
	min-height: 400px;
	background: #6644f2;
	text-align: center;
	color:#fff;
}
.third h2
{
	width:inherit;
	padding: 20px 0 20px 0;
	font-size: 30px;
	margin:20px auto 50px auto;
}
.btn-inverse
{
	background: transparent;
	border-color:#fff;
	color: #fff;
	font-size:18px;
	font-weight:700;
}
.btn-inverse:hover
{
	background:#fff;
	color:#6644f2;
	
}

.third span
{
	padding:10px 30px;
	font-size: 15px;
	
}
.third strong
{
	margin:50px auto 10px auto;
	font-size:20px;
	display: block;
}
.third a
{
	color:#fff;
}
.third p
{
	font-size: 10px;
	margin:10px auto;
}
.third .cli-download
{
	
	padding: 20px 0 20px 0;
	width:50%;
	background: #492fb7;
	font-weight:600;
	margin:20px auto 0 auto;
	font-size: 20px;
	letter-spacing: 1px;
	border-radius: 10px;
}
.third .cli-download:hover
{
	background:#fff;
	color:#6644f2;
}


#sidebar,#sidebar-trigger
{
	display:none;
}