.navbar
{
	color:#1b1b1b;
	border: none;
	margin:0;
	height:70px;
	width:100%;
	
	border-radius: 0;
}

.navbar-header
{
	color:aliceblue;
	margin: 10px auto;
}
.navbar-brand
{
	font-size:20px;
	font-weight: 400;
	letter-spacing: 0.5px;
}
.navcont
{
	margin: 10px auto;
}
.main-page
{
	margin:0;
}

footer
{
	background-color:#313130;
	height:150px;
	width:inherit;
	bottom:0;
}
footer .footer-info
{
	padding:45px 0 25px 0;
	margin:0;
	height:inherit;
	color:#fff;
	vertical-align: middle;
	font-weight: 300px;
	font-size:17px;
	float:left;
}
.footer
{
	height:inherit;
	width: 80%;
	color:#fff;

}
.icon-group
{
	height:inherit;
	padding:35px 0;
	margin:0;
}
.icon-group ul
{
	float:right;
	list-style: none;
	color:#fff;
}
.icon-group ul li a
{
	color:#fff;
}
img
{
	width:100%;
}

#sidebar
{
	background:#222;
	background-color:rgba(0,0,0,0.8);
	width:280px;
	position:fixed;
	top:0px;
	bottom:0;
	left:0px;
	
}

#sidebar-trigger
{
	width:30px;
	text-align: center;
    position:fixed;
    right:30px;
    bottom:35px;
    color:#eab53f;
    background: transparent;
    font-size:30px;
	font-weight: 600;
    
}
.back-to-top
{
    position:fixed;
    bottom:80px;
    right:30px;
    color:#eab53f;
    background: transparent;
    font-size:30px;
	font-weight: 600;
}
#sidebar-trigger:hover,.back-to-top:hover
{
	color: #ff511c;
	
}